<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546678509348-qlbi2s68u2hsmc5d2fa91unth1ml004l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546678509348-qlbi2s68u2hsmc5d2fa91unth1ml004l</string>
	<key>API_KEY</key>
	<string>AIzaSyA7pUryA9t46sghnvu9RltMtHNyWjPkL74</string>
	<key>GCM_SENDER_ID</key>
	<string>546678509348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tuannguyen.FirebaseMessenger</string>
	<key>PROJECT_ID</key>
	<string>fir-swiftmessenger</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-swiftmessenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546678509348:ios:d1bbeee37611b365916db1</string>
    <key>DATABASE_URL</key>
        <string>https://fir-swiftmessenger-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
