<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365796777572-o3admdqr1ltdah8a1580bfpa9h9ce867.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365796777572-o3admdqr1ltdah8a1580bfpa9h9ce867</string>
	<key>API_KEY</key>
	<string>AIzaSyA-ya5khG0ALE-mAnB1UK6CdmVqwk3b5hk</string>
	<key>GCM_SENDER_ID</key>
	<string>365796777572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tuannguyen.FirebaseMessenger</string>
	<key>PROJECT_ID</key>
	<string>iosfirebasemessenger</string>
	<key>STORAGE_BUCKET</key>
	<string>iosfirebasemessenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:365796777572:ios:7267d6c8fc51d3d6b30971</string>
	<key>DATABASE_URL</key>
	<string>https://iosfirebasemessenger-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
